    html {
	width: 100%;
	height: 100%;
    }
    body {
	position: relative;
	float: left;
	z-index: 1;
	background-color: #537895;
	background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
	text-align: left;
	color: white;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
	width: 100%;
	height: 100%;
    }
    div {
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
    }
    pre {
    	display: inline-block;
	text-align: left;
    }
    .collar {
    	color: #C00000;
    }
    .moon-1 {
    	color: #F5F3C3;
    }
    .moon-2 {
    	color: #9D9B84;
    }
    .moon-3 {
    	color: #514F44;
    }
